.line-chart > div {
  width: 700px !important;
  height: 400px !important;
}
.line-chart > div .recharts-legend-wrapper {
  width: 700px !important;
}
@media screen and (max-width: 760px) {
  .line-chart > div {
    width: 500px !important;
    height: 300px !important;
  }
  .line-chart > div .recharts-legend-wrapper {
    width: 500px !important;
  }
}
@media screen and (max-width: 540px) {
  .line-chart > div {
    width: 350px !important;
    height: 250px !important;
  }
  .line-chart > div .recharts-legend-wrapper {
    width: 350px !important;
  }
}
@media screen and (max-width: 410px) {
  .line-chart > div {
    width: 250px !important;
    height: 200px !important;
  }
  .line-chart > div .recharts-legend-wrapper {
    width: 250px !important;
  }
}
